* {
    box-sizing: border-box;
}

:root {
    --primary-font: Inria Serif;
    --title-fontsize: 35px;
    --medium-fontsize: 20px;
    --text-fontsize: 15px;

    --secondary-textcolor: black;
    --primary-textcolor: #CF4538;
    --bg-color: #FAF6ED;
    --pink-box: #FEB5C0;
    --blue-box: #ABCBD8;
    --yellow-box: #F4EDC1;
    --overlay: rgba(152,46,37,0.3);
}

body {
    font-family: var(--primary-font);
    font-size: var(--text-fontsize);
    color: var(--primary-textcolor);
    background-color: var(--bg-color);
}

h1 {
    font-size: var(--title-fontsize);
    font-style: italic;
}

img {
    width: auto;
    height: 133px;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 30px repeat(2, 100px) auto;

    #title {
        place-self: center;
        grid-column: 2;
        text-align: center;
        grid-row: 2;

        p {
            margin-top: -10px;
        }
    }

    #datePicker {
        width: 456px;
        height: 54px;
        border-radius: 10px;
        border: 1px solid var(--primary-textcolor);

        grid-column: 2;
        grid-row: 3;
        place-self: center;

        #form {
            display: flex;
            justify-content: space-between;

            #dateInput {
                background-color: transparent;
                border: none;
                font-size: 16px;
                padding: 15px;
                font-family: var(--primary-font);
                cursor: pointer;
            }
    
            #submit {
                background-color: transparent;
                border: none;
                padding-right: 20px;
                color: var(--secondary-textcolor);
                font-family: var(--primary-font);
                cursor: pointer;
            }
        }
    }

    #help {
        grid-row: 2;
        grid-column: 3;
        place-self: center;

        cursor: pointer;
    }
}

main {
    display: grid;
    grid-template-columns: repeat(4, 201px);
    grid-template-rows: repeat(3, 170px);
    justify-content: center;

    column-gap: 18px;
    row-gap: 28px;

    #shelfItems1, #shelfItems2, #shelfItems3 {
        display: flex;
        justify-content: space-around;
        grid-column-start: 1;
        grid-column-end: span 4;
        align-self: center;
    }

    #shelfItems1 {
        grid-row-start: 1;
    }

    #shelfItems2 {
        grid-row-start: 2;
    }

    #shelfItems3 {
        grid-row-start: 3;
    }

    .pink, .red, .blue, .yellow {
        border-radius: 10px; 
        text-align: center;
        cursor: pointer;
        :hover {
            
        }
        
        img {
            margin-top: 10px;
        }
    }

    .pink { 
        background-color: var(--pink-box); 
    }

    .red { 
        background-color: var(--primary-textcolor); 
    }

    .blue { 
        background-color: var(--blue-box); 
    }

    .yellow { 
        background-color: var(--yellow-box); 
    }

    
    
}

.overlay {
    background-color: var(--overlay);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;

    #helpBox {
        width: 550px;
        height: 400px;
        background-color: var(--bg-color);
        border-radius: 10px;

        align-self: center;
        padding: 80px 50px;

        h1, p {
            text-align: center;
        }

        p {
            color: var(--secondary-textcolor);
        }
    }

    .sonnyAngelDetails {
        width: 756px;
        height: 513px;
        background-color: var(--bg-color);
        border-radius: 10px;
    }
}